<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li routerLinkActive="active"><a routerLink="auth">Authentification</a></li>
      <li routerLinkActive="active"><a routerLink="manageqcm">Gestion des QCM</a></li>
      <li routerLinkActive="active"><a routerLink="createqcm">Création de QCM</a></li>
      <li routerLinkActive="active"><a routerLink="editqcm">Modification de QCM</a></li>
    </ul>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>